
body{
    margin:0;
    padding:0;
}

.header{
    border:1px solid black;
    display: flex;
    justify-content:space-between;
}

.logo{
    width: 70px;
    height: 70px;
}



.navbar{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-right: 100px;
}

ul >li{
    list-style-type: none;
}